.padding_zero {
    padding: 0;
}

.padding_top_zero {
    padding_top: 0 !important;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-width-height {
    width: 100%;
    height: 100%;
}

.ionic_datepicker_popup .font_bold {
    font-weight: bold;
}

.ionic_datepicker_popup .padding_top_zero {
    padding-top: 0;
}

.ionic_datepicker_popup .padding_left_5px {
    padding-left: 5px;
}

.ionic_datepicker_popup .padding_right_5px {
    padding-right: 5px;
}

.ionic_datepicker_popup .calendar_grid {
    height: 215px;
}

.ionic_datepicker_popup .today {
    border: 1px solid #8666ff;
    border-radius: 50%;
}

.ionic_datepicker_popup .selected_date {
    background-color: #8666ff;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
}

.ionic_datepicker_popup .popup-head {
    background-color: #8666ff;
    display: none;
}

.ionic_datepicker_popup .popup-head .popup-title {
    color: #ffffff;
}

.ionic_datepicker_popup .popup-head .popup-sub-title {
    color: #ffffff;
}

.ionic_datepicker_popup .popup-body {
    background-color: #ffffff;
}

.ionic_datepicker_popup .popup-body .selected_date_full {
    background-color: #8666ff;
    margin: -10px -10px 0 -10px;
    height: 45px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    line-height: 45px;
    font-size: 18px;
}

.ionic_datepicker_popup .popup-body .select_section {
    padding: 1px 5px;
}

.ionic_datepicker_popup .popup-body .pointer_events_none {
    pointer-events: none;
    color: #aaaaaa !important;
}

.ionic_datepicker_popup .popup-body .month_select, .ionic_datepicker_popup .popup-body .year_select {
    border: none;
    border-bottom: 1px solid #8666ff;
    padding: 0;
}

.ionic_datepicker_popup .popup-body .month_select .input-label, .ionic_datepicker_popup .popup-body .year_select .input-label {
    padding: 2px 0;
    width: 0;
}

.ionic_datepicker_popup .popup-body .month_select select, .ionic_datepicker_popup .popup-body .year_select select {
    left: 10px;
    border: none;
    padding: 0;
}

.ionic_datepicker_popup .popup-body .month_select:after, .ionic_datepicker_popup .popup-body .year_select:after {
    right: 5px;
    color: #8666ff;
}

.ionic_datepicker_popup .popup-body .show_nav {
    padding: 10px 0 0 0;
}

.ionic_datepicker_popup .popup-body .show_nav .prev_btn_section {
    padding: 5px 0;
    text-align: left;
}

.ionic_datepicker_popup .popup-body .show_nav .prev_btn_section button {
    padding: 0;
}

.ionic_datepicker_popup .popup-body .show_nav .next_btn_section {
    padding: 5px 0;
    text-align: right;
}

.ionic_datepicker_popup .popup-body .show_nav .next_btn_section button {
    padding: 0;
}

.ionic_datepicker_popup .popup-body .button-clear {
    color: #8666ff;
}

.ionic_datepicker_popup .popup-buttons {
    padding: 0;
    min-height: 45px;
}

.ionic_datepicker_popup .popup-buttons button {
    background-color: #8666ff;
    border-radius: 0;
    margin-right: 1px;
    color: #ffffff;
}

.ionic_datepicker_modal .header, .ionic_datepicker_modal .footer {
    background-color: #8666ff;
}

.ionic_datepicker_modal .header .title, .ionic_datepicker_modal .header .button, .ionic_datepicker_modal .footer .title, .ionic_datepicker_modal .footer .button {
    color: #ffffff;
}

.ionic_datepicker_modal .footer .button-block {
    margin: 0;
}

.ionic_datepicker_modal .today {
    border: 1px solid #8666ff;
}

.ionic_datepicker_modal .selected_date {
    background-color: #8666ff;
    color: #fff;
    font-weight: bold;
}

.ionic_datepicker_modal .pointer_events_none {
    pointer-events: none;
    color: #aaaaaa !important;
}

.ionic_datepicker_modal .time_pointer_events_none {
    pointer-events: none;
    color: #666666 !important;
    background-color: #cccccc;
}

.ionic_datepicker_modal .select_section {
    padding: 1px 5px;
}

.ionic_datepicker_modal .button-clear {
    color: #8666ff;
}

.ionic_datepicker_modal .month_select, .ionic_datepicker_modal .year_select {
    border: none;
    border-bottom: 1px solid #8666ff;
    padding: 0;
}

.ionic_datepicker_modal .month_select .input-label, .ionic_datepicker_modal .year_select .input-label {
    padding: 2px 0;
    width: 0;
}

.ionic_datepicker_modal .month_select select, .ionic_datepicker_modal .year_select select {
    left: 10px;
    border: none;
    padding: 0 10px;
}

.ionic_datepicker_modal .month_select:after, .ionic_datepicker_modal .year_select:after {
    right: 5px;
    color: #8666ff;
}

.ionic_datepicker_modal .padding_left_5px {
    padding-left: 5px;
}

.ionic_datepicker_modal .padding_right_5px {
    padding-right: 5px;
}

.ionic_datepicker_modal .weeks_row {
    height: 15%;
}

.ionic_datepicker_modal .date_row {
    height: 16%;
}

.ionic_datepicker_modal .date_block {
    height: 85%;
}

.ionic_datepicker_modal .date_col {
    height: 100%;
}

.ionic_datepicker_modal .date_table {
    height: 100%;
    width: 100%;
    display: table;
}

.ionic_datepicker_modal .date_cell {
    display: table-cell;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
}

.ionic_datepicker_modal .time_table {
    height: 50%;
    width: 100%;
    display: table;
}

.ionic_datepicker_modal .time_cell {
    display: table-cell;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
}

.ionic_datepicker_modal .time-block {
    margin-left: 10%;
    width: 80%;
    height: 90%;
}

.ionic_datepicker_modal .font_bold {
    font-weight: bold;
}

.ionic_datepicker_modal .font_22px {
    font-size: 22px;
}

.ionic_datepicker_modal .calendar_grid {
    height: 70%;
}

.ionic_datepicker_modal .time-grid {
    height: 20%;
}

.platform-android .bar .title.title-left {
    text-align: center;
}

.platform-android .ionic_datepicker_modal select {
    left: 25%;
}

.platform-ios .ionic_datepicker_modal select {
    left: 5%;
}
